@model Carreras
@{
    ViewData["Title"] = "Details";
}


    <div class="card bg-primary text-white" style="width: 27rem;">
        <div class="card-body">
            <div>
                <h1 class="display-4">Registro</h1>
                <hr />
                <dl class="row">
                    <dt class="col-12">Id</dt>
                    <dd class="col-12">
                    <dd>
                        @Model.Id
                    </dd>
                    <dt class="col-12">Titulo</dt>
                    <dd class="col-12">
                    <dd>
                        @Model.Titulo
                    </dd>
                    <dt class="col-12">Creditos</dt>
                    <dd class="col-12">
                    <dd>
                        @Model.Creditos
                    </dd>
                    <dt class="col-12">Campus</dt>
                    <dd class="col-12">
                    <dd>
                        @Model.Campus
                    </dd>
                </dl>
            </div>
    </div>
</div>

